@using Microsoft.AspNetCore.Identity
@using PHOENIX.Models
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViewTask</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViewTask.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body >
    <header>
        <nav class="fixed top-0 left-0 z-50 w-full border-b bg-[#2c2e35] p-2.5 shadow sm:flex sm:items-center sm:justify-between">>
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="emblem" src="~/Photo/Emblem.png"/></a>
                <div class="hidden w-full justify-between sm:inline-flex">
                    <ul class="hidden space-x-6 sm:flex">
                        <li class="text-white">
                            <a class="text-white !no-underline" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white !no-underline" asp-area="" asp-controller="Home" asp-action="Privacy">Про нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white !no-underline" asp-area="" asp-controller="Rating" asp-action="Index">Рейтинг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index">
                                <i class="bi bi-newspaper text-white"></i> Новини
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <a class="nav-link fw-bold text-white" asp-controller="Account" asp-action="Profile">
                            👤 @(user?.Name ?? User.Identity.Name)
                        </a>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                <button type="submit" class="nav-link btn btn-link text-white" style="border:none; background:none;">
                                    Вийти
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Реєстрація</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Вхід</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Admin" asp-action="Users" 
                           class="px-3 py-2 text-sm font-bold tracking-wider text-white uppercase transition hover:text-emerald-600">
                            Спортсмени
                        </a>
                    }
                    </ul>
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="animate-fade-in pt-24">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2026 - ViewTask - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>